.text-4xl.font-bold.text-primary.text-center {
    visibility: hidden;
    position: relative;
}

.text-4xl.font-bold.text-primary.text-center::after {
    content: "Exaion-work-project";
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

